<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murong.wjl.testspringboot2.mapper.BillMapper">
   <resultMap id="BillList" type="com.murong.wjl.testspringboot2.domain.Bill" >
      <result column="TX_TYP" property="txTyp" jdbcType="VARCHAR"/>
      <result column="TX_DT" property="txDt" jdbcType="VARCHAR"/>
      <result column="TX_AMT" property="txAmt" jdbcType="DOUBLE"/>
      <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
      <result column="USR_NO" property="usrNo" jdbcType="NUMERIC"/>
      <result column="CNL_NO" property="cnlNo" jdbcType="NUMERIC"/>
      <result column="NO" property="no" jdbcType="NUMERIC"/>
   </resultMap>


   <select id="getBill" resultType="com.murong.wjl.testspringboot2.domain.Bill">
      SELECT * FROM bill WHERE no = #{jrnNo}
   </select>

   <select id="getAll" resultMap="BillList">
      SELECT * FROM bill
   </select>


   <select id="getBillByNo" resultType="com.murong.wjl.testspringboot2.domain.Bill">
      SELECT * FROM bill WHERE NO = #{no}
   </select>
</mapper>