<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.wjl.testspringboot2.job.dal.dao.OpsJobJnlMapper">

    <resultMap id="BillList" type="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="grp_nm" property="grpNm" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="cron" property="cron" jdbcType="VARCHAR"/>
        <result column="tm_out" property="tmOut" jdbcType="NUMERIC"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="beg_tm" property="begTm" jdbcType="VARCHAR"/>
        <result column="end_tm" property="endTm" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="result_msg" property="resultMsg" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectByPrimaryKey" resultType="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO">
        select <include refid="base_column_list"/>
        from T_OPS_JOBJNL where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO">
        delete from  T_OPS_JOBJNL where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from  T_OPS_JOBJNL where id in (${ids})
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO">
        update  T_OPS_JOBJNL
        <trim prefix="set" suffixOverrides = ",">
            <if test="id != null and '' != id">id=#{id},</if>
            <if test="name != null and '' != name">name=#{name},</if>
            <if test="grpNm!= null and '' != grpNm">grp_nm=#{grpNm},</if>
            <if test="url!= null and '' != url">url=#{url},</if>
            <if test="cron!= null and '' != cron">cron=#{cron},</if>
            <if test="tmOut!= null and '' != tmOut">tm_out=#{tmOut},</if>
            <if test="remark!= null and '' != remark">remark=#{remark},</if>
            <if test="begTm!= null and '' != begTm">beg_tm=#{begTm},</if>
            <if test="endTm!= null and '' != endTm">end_tm=#{endTm},</if>
            <if test="status!= null and '' != status">status=#{status},</if>
            <if test="resultMsg!= null and '' != resultMsg">result_msg=#{resultMsg},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO">
        update  T_OPS_JOBJNL
        <trim prefix="set" suffixOverrides = ",">
            <if test="id!= null and '' !=id">id=#{id},</if>
            <if test="name!= null and '' !=name">name=#{name},</if>
            <if test="grpNm!= null and '' !=grpNm">grp_nm=#{grpNm},</if>
            <if test="url!= null and '' !=url">url=#{url},</if>
            <if test="cron!= null and '' !=cron">cron=#{cron},</if>
            <if test="tmOut!= null and '' !=tmOut">tm_out=#{tmOut},</if>
            <if test="remark!= null and '' !=remark">remark=#{remark},</if>
            <if test="begTm!= null and '' !=begTm">beg_tm=#{begTm},</if>
            <if test="endTm!= null and '' !=endTm">end_tm=#{endTm},</if>
            <if test="status!= null and '' !=status">status=#{status},</if>
            <if test="resultMsg!= null and '' !=resultMsg">result_msg=#{resultMsg},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO">
        insert  into T_OPS_JOBJNL(id, name, grp_nm, url, cron, tm_out, remark, beg_tm, end_tm, status, result_msg)
        values( #{id}, #{name}, #{grpNm}, #{url}, #{cron}, #{tmOut}, #{remark}, #{begTm}, #{endTm}, #{status}, #{resultMsg})
    </insert>

    <insert id="insertSelective" parameterType="com.wxy.wjl.testspringboot2.job.dal.entity.OpsJobJnlDO">
        insert  into T_OPS_JOBJNL
        <trim prefix="(" suffix=')' suffixOverrides=",">
            <if test="id!= null and '' != id">id,</if>
            <if test="name!= null and '' != name">name,</if>
            <if test="grpNm!= null and '' != grpNm">grp_nm,</if>
            <if test="url!= null and '' != url">url,</if>
            <if test="cron!= null and '' != cron">cron,</if>
            <if test="tmOut!= null and '' != tmOut">tm_out,</if>
            <if test="remark!= null and '' != remark">remark,</if>
            <if test="begTm!= null and '' != begTm">beg_tm,</if>
            <if test="endTm!= null and '' != endTm">end_tm,</if>
            <if test="status!= null and '' != status">status,</if>
            <if test="resultMsg!= null and '' != resultMsg">result_msg,</if>
        </trim>
        <trim prefix="values(" suffix=')' suffixOverrides=",">
            <if test="id!= null and '' != id">#{id},</if>
            <if test="name!= null and '' != name">#{name},</if>
            <if test="grpNm!= null and '' != grpNm">#{grpNm},</if>
            <if test="url!= null and '' != url">#{url},</if>
            <if test="cron!= null and '' != cron">#{cron},</if>
            <if test="tmOut!= null and '' != tmOut">#{tmOut},</if>
            <if test="remark!= null and '' != remark">#{remark},</if>
            <if test="begTm!= null and '' != begTm">#{begTm},</if>
            <if test="endTm!= null and '' != endTm">#{endTm},</if>
            <if test="status!= null and '' != status">#{status},</if>
            <if test="resultMsg!= null and '' != resultMsg">#{resultMsg},</if>
        </trim>
    </insert>

    <sql id="base_column_list">
        id, name, grp_nm, url, cron, tm_out, remark, beg_tm, end_tm, status, result_msg
    </sql>

    <sql id="where_condition">
        <trim prefix="where" prefixOverrides="and">
            <if test="isNotNull(id)">id=#{id},</if>
            <if test="isNotNull(name)">name=#{name},</if>
            <if test="isNotNull(grpNm)">grp_nm=#{grpNm},</if>
            <if test="isNotNull(url)">url=#{url},</if>
            <if test="isNotNull(cron)">cron=#{cron},</if>
            <if test="isNotNull(tmOut)">tm_out=#{tmOut},</if>
            <if test="isNotNull(remark)">remark=#{remark},</if>
            <if test="isNotNull(begTm)">beg_tm=#{begTm},</if>
            <if test="isNotNull(endTm)">end_tm=#{endTm},</if>
            <if test="isNotNull(status)">status=#{status},</if>
            <if test="isNotNull(resultMsg)">result_msg=#{resultMsg},</if>
        </trim>
    </sql>
</mapper>
